extends layout

block content
  div(id='content' class='container')
    div(class='row')
      div(class='col-lg-12')
        div(id='map')
        div(id='load' class='hide')
          i(class='fa fa-spinner fa-pulse fa-3x')
          div(id='load-bg')
    div(id='chart-group' class='hide')
      div(id='chart-legend-dwell-group' class='row')
        div(id='chart-legend-dwell' class='col-lg-12')
        div(id='chart-legend-dwell-text')
          small(id='chart-legend-dwell-text-short' class='col-lg-4') 0 minutes
          small(class='col-lg-4 text-center') Dwell Time Range
          small(id='chart-legend-dwell-text-long' class='col-lg-4 text-right') 1+ hours
      div(class='row chart-display')
        div(class='col-lg-12')
          svg(class='chart')
          div(id='load-chart' class='hide')
            i(class='fa fa-spinner fa-pulse fa-3x')
            div(id='load-bg')
    div(id='paths-control' class='hide')
      div(id='legend-timeframe-group' class='row')
        div(id='legend' class='col-lg-12')
        div(id='legend-text')
          small(id='legend-text-start' class='col-lg-4') Start
          small(id='legend-text-duration' class='col-lg-4 text-center') Interaction Length
          small(id='legend-text-end' class='col-lg-4 text-right') End
      div(id='legend-dwell-group' class='row')
        div(id='legend-dwell' class='col-lg-12')
        div(id='legend-dwell-text')
          small(id='legend-dwell-text-short' class='col-lg-4') Short
          small(class='col-lg-4 text-center') Dwell Time Range
          small(id='legend-dwell-text-long' class='col-lg-4 text-right') Long
      div(id='paths-control-input' class='row')
        div(class='col-lg-10')
          div(class='input-group')
            span(class='input-group-addon') Receiver
            input(id='receiver-input' type='text' class='form-control' placeholder='Enter a receiver id...')
            span(class='input-group-btn')
              button(id='receiver-input-submit' class='btn btn-primary' type='button') Draw Path!
        div(class='col-lg-2')
          button(id='random' class='btn btn-warning' type='button' style='width: 100%;') Random Receiver
    div(id='debug' class='row')
      div(class='col-lg-8')
        div(id='debug-text')
          small(id='timestamp')
          p(id='transmitter')        
